@import url(../css/fonts.css);

/* CUSTOM PROPS */

:root{
    --primary-blue: #0EB4C1;
    --secondary-red: #DE2E54;
    --white: #fff;
    --dark: #222;
    --opensans: "OpenSans";
    --opensansCondensed: "OpenSans Condensed";
}

/* GLOBAL STYLES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    font-family: var(--opensans);
}

/* CONTAINER SIZE */

.container{
    max-width: 1130px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* BUTTON */

.all-btn{
    max-width: 189px;
    width: 100%;
    border-radius: 8px;
    background-color: var(--secondary-red);
    display: block;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    color: var(--white);
    font-family: var(--opensansCondensed);
    font-size: 15px;
    font-weight: 700;
    line-height: 22.5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 2px solid var(--secondary-red);
    transition: .5s;
}

.all-btn:hover{
    background-color: var(--white);
    color: var(--secondary-red);
}

.all-btn:active{
    background-color: var(--secondary-red);
    color: var(--white);
    opacity: .6;
}

/* SITE-HEADER */
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.site-header {
    padding-top: 24px;
    padding-bottom: 24px;
}
.logo {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: var(--dark);
    font-size: 24px;
    font-weight: 600;
    transition: .5s;
}
.logo:hover{
    color: var(--secondary-red);
}
.logo:active{
    opacity: .5;
}
.logo-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
.site-header__menu {
    display: flex;
    column-gap: 32px;
    align-items: center;
}
.site-header__link {
    color: var(--dark);
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: .5s;
}
.site-header__link:hover{
    color: var(--secondary-red);
}
.site-header__link:active{
    opacity: .6;
}
/* SITE-HEADER */

/* SITE-HERO */
.site-hero {
    background-color: var(--primary-blue);
    padding-top: 29px;
}

.site-hero__title {
    max-width: 500px;
    width: 100%;
    font-size: 36px;
    font-weight: 700;
    color: var(--white);
    font-family: var(--opensansCondensed);
    line-height: 43.2px;
}

.site-header__text {
    max-width: 440px;
    width: 100%;
    color: var(--white);
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    margin-top: 16px;
    margin-bottom: 36px;
}
.site-hero__btn:hover {
    border-radius: 8px;
    background-color: rgba(222, 46, 84, 0.80);
    color: var(--white);
}

.site-hero__image{
    max-width: 423px;
    width: 100%;
    height: 504px;
    object-fit: cover;
}
/* SITE-HERO */

/* SITE-MAIN */
/* SERVICE */
.service {
}
.service-content {
}
.service-title {
}
.service-item {
}
.service-item__img {
}
.service-item__desc {
}
.service-item__title {
}
.service-item__text {
}
/* SERVICE */
/* SITE-MAIN */